@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background: #f8fafc;
  margin: 0;
  font-family: Inter, sans-serif;
  color: #1f2937;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}